colorama==0.4.4
futures==3.1.1
instagram-scraper==1.9.1
  moviepy==1.0.3
    decorator==4.4.2
    imageio==2.9.0
      numpy==1.19.2
      Pillow==8.1.0
    imageio-ffmpeg==0.4.3
    numpy==1.19.2
    numpy==1.19.2
    proglog==0.1.9
      tqdm==4.56.0
    requests==2.24.0
      certifi==2020.6.20
      chardet==3.0.4
      idna==2.10
      urllib3==1.25.10
    tqdm==4.56.0
  requests==2.24.0
    certifi==2020.6.20
    chardet==3.0.4
    idna==2.10
    urllib3==1.25.10
  tqdm==4.56.0
pipdeptree==2.0.0
  pip==21.0.1
python-socks==1.1.0
requests-futures==1.0.0
  requests==2.24.0
    certifi==2020.6.20
    chardet==3.0.4
    idna==2.10
    urllib3==1.25.10
requests-html==0.10.0
  bs4==0.0.1
    beautifulsoup4==4.9.3
      soupsieve==2.0.1
  fake-useragent==0.1.11
  parse==1.19.0
  pyppeteer==0.2.5
    appdirs==1.4.4
    importlib-metadata==2.1.1
      zipp==3.4.0
    pyee==8.1.0
    tqdm==4.56.0
    urllib3==1.25.10
    websockets==8.1
  pyquery==1.4.3
    cssselect==1.1.0
    lxml==4.6.2
  requests==2.24.0
    certifi==2020.6.20
    chardet==3.0.4
    idna==2.10
    urllib3==1.25.10
  w3lib==1.22.0
    six==1.15.0
setuptools==28.8.0
torrequest==0.1.0
  PySocks==1.7.1
  requests==2.24.0
    certifi==2020.6.20
    chardet==3.0.4
    idna==2.10
    urllib3==1.25.10
  stem==1.8.0
twint==2.1.21
  aiodns==2.0.0
    pycares==3.1.1
      cffi==1.14.3
        pycparser==2.20
    typing==3.7.4.3
  aiohttp==3.6.2
    async-timeout==3.0.1
    attrs==20.2.0
    chardet==3.0.4
    idna-ssl==1.1.0
      idna==2.10
    multidict==4.7.6
    typing-extensions==3.7.4.3
    yarl==1.6.0
      idna==2.10
      multidict==4.7.6
      typing-extensions==3.7.4.3
  aiohttp-socks==0.4.1
    aiohttp==3.6.2
      async-timeout==3.0.1
      attrs==20.2.0
      chardet==3.0.4
      idna-ssl==1.1.0
        idna==2.10
      multidict==4.7.6
      typing-extensions==3.7.4.3
      yarl==1.6.0
        idna==2.10
        multidict==4.7.6
        typing-extensions==3.7.4.3
    attrs==20.2.0
  beautifulsoup4==4.9.3
    soupsieve==2.0.1
  cchardet==2.1.6
  dataclasses==0.7
  elasticsearch==7.9.1
    certifi==2020.6.20
    urllib3==1.25.10
  fake-useragent==0.1.11
  geopy==2.0.0
    geographiclib==1.50
  googletransx==2.4.2
    requests==2.24.0
      certifi==2020.6.20
      chardet==3.0.4
      idna==2.10
      urllib3==1.25.10
  pandas==0.25.3
    numpy==1.19.2
    python-dateutil==2.8.1
      six==1.15.0
    pytz==2020.1
  PySocks==1.7.1
  schedule==0.6.0
