@font-face {
    src: url("../fonts/AndroidEuclid-Medium.otf");
    font-family: "Android-Euclid";
    font-size: 1rem; }

html {
    height: 100% !important; }
body {
    font-family: Android-Euclid, sans-serif;
    font-size: 16px !important;
    min-height: 800px;
    min-width: 600px;
    overflow: auto;
    white-space: normal !important;
    word-wrap: break-word !important;
    word-break: break-word !important; }

table tr,
table th,
table td,
#liveResults span {
    -webkit-user-select: text;
    user-select: text;
    cursor: text;
}

.container {
    /*min-height: calc(100vh - 15px) !important;*/
    min-height: calc(100vh - 2vh) !important;
    /*max-height: calc(100vh - 15px) !important; }*/
    max-height: calc(100vh - 2vh) !important; }
@media (min-width: 1400px) {
    .container {
        max-width: 1300px !important;
    }
}
@media (max-width: 1400px) {
    .container {
        max-width: calc(100vw - 100px) !important;
    }
}

.fs-default {
    font-size: 1rem;}
.fs-smaller {
    font-size: 0.95rem !important; }
.fs-larger {
    font-size: 1.05rem !important; }

.br-7px {
    border-radius: 7px !important; }
.br-10px {
    border-radius: 10px !important; }
.p-8px {
    padding: 8px !important; }
.p-20px {
    padding: 20px !important; }

.c-pointer {
    cursor: pointer !important; }

.scroll-enabled {
    overflow: auto;
    overflow-x: hidden;
    height: 100px; }
.scroll-enabled::-webkit-scrollbar {
    width: 13px; }
.scroll-enabled::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0); }
.scroll-enabled::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 15px;
    border: 4px solid rgba(0,0,0,0);
    background-clip: content-box;
    min-width: 32px;
    min-height: 32px; }
.scroll-enabled::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0); }

.btn {
    white-space: normal !important; }
.list-group-item+.list-group-item.active {
    margin-top: 0; }

#userName {
    cursor: text; }

#mainView {
    min-height: calc(100vh - 250px) !important;
    max-height: calc(100vh - 250px) !important; }
@media (min-height: 992px) {
    #mainTab {
        height: 0; }}
#mainView > div > .list-group {
    flex-direction: row; }
#mainView > div > .list-group * {
    cursor: pointer !important; }
#mainView > div > .list-group > .list-group-item {
    border: 1px solid #ddd; }
#mainView > div > .list-group > .list-group-item.active {
    border: 0; }
#mainView > div > .list-group > #list-search-list {
    border-right: 0;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important; }
#mainView > div > .list-group > #list-results-list {
    border-left: 0;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important; }
#search-tab {
    max-width: 1000px;
}

#search-tabContent {
    min-height: 100% !important; }
#searchDiv {
    align-items: center; }
#searchBox, #liveResults {
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out; }
#liveResults {
    min-height: 40vh !important;
    max-height: 40vh !important;
    padding-left: 30px;
    align-self: center; }
#liveResults div {
    border: 1px solid #ddd !important;
    padding-left: 10px !important;
    padding-right: 10px !important; }
.text-grey {
    color: #808080 !important;
    font-size: 0.6rem;
    vertical-align: text-top; }

#list-results {
    height: calc(100vh - 37vh); }
#resultsDiv {
    word-wrap: break-word; }
#resultTabs,
#result-menu,
#results-tabContent > .tab-pane {
    /*min-height: calc(100vh - 280px) !important;*/
    min-height: calc(100vh - 36vh) !important;
    /*max-height: calc(100vh - 280px) !important; }*/
    max-height: calc(100vh - 36vh) !important; }
#results-tab > a {
    cursor: pointer; !important; }
#results-tab > a:first-child {
    border-radius: 0; }
#user-resultTab {
    border: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
    padding-top: 30px !important;
    padding-bottom: 30px !important; }

#results-tabContent div > .list-group > .list-group-item {
    border: 1px solid #ddd; }
#results-tabContent div > .list-group > a {
    border-right: 0; }
#results-tabContent div > .list-group > a:first-child {
    border-radius: 10px 0 0 10px; }
#results-tabContent div > .list-group > a:last-child {
    border-left: 0;
    border-top-width: 1px;
    border-radius: 0 10px 10px 0; }
#results-tabContent div > .list-group > .list-group-item.active {
    background-color: #edf1f5;
    color: inherit; }

#list-tab-fb,
#list-tab-instagram,
#list-tab-twitter,
#list-tab-reddit {
    max-width: 805px !important; }
#fb-results .tab-pane,
#instagram-results .tab-pane,
#twitter-results .tab-pane,
#reddit-results .tab-pane,
#linkedin-results .tab-pane {
    min-height: calc(100vh - 44vh) !important;
    max-height: calc(100vh - 44vh) !important;
    margin: 12px 8px 0;
    overflow-x: scroll; }
#nav-tabContent-fb,
#nav-tabContent-instagram,
#nav-tabContent-twitter,
#nav-tabContent-reddit {
    /*min-height: calc(100vh - 370px);*/
    min-height: calc(100vh - 42vh);
    /*max-height: calc(100vh - 370px);*/
    max-height: calc(100vh - 42vh);
    overflow-x: auto; }

#results-tabContent table {
    white-space: normal;
    border-collapse: collapse; }
#results-tabContent table td {
    white-space: normal;
    overflow: hidden;
    word-break: break-word;
    -webkit-hyphens: auto; /* iOS 4.2+ */
    -moz-hyphens: auto; /* Firefox 5+ */
    -ms-hyphens: auto; /* IE 10+ */
    hyphens: auto;
}
#results-tabContent table th {
    white-space: nowrap;
    overflow: hidden;
}
#results-tabContent table td {
    padding: 0.4rem !important; }


@media (min-height: 992px) {
    #alertsView {
        padding-top: 0; }}
@media (max-height: 991px) {
    #alertsView {
        padding-top: 40px; }}
.alert {
    padding: 4px 20px !important;
    display: inline-block; }


.modal-open .modal {
    overflow: hidden !important;
}